body {
  background-color: $clr-neutral-400;
  color: $clr-primary-400;
  font-family: $ff-default;
  font-size: $fs-300;
  line-height: 1.5;
}

p {
  font-family: $ff-default;
  font-weight: $fw-500;
  letter-spacing: 0.008125;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: $ff-default;
  color: $clr-primary-500;
  font-weight: $fw-700;
}

h1,
h2 {
  font-size: $fs-400;
  letter-spacing: 0.01875rem;
}

h3,
h4 {
  font-size: $fs-300;
}

cite {
  font-style: normal;
}
