body {
  background-color: $clr-neutral-400;
  color: $clr-primary-400;
  font-family: $ff-default;
  font-size: $fs-300;
  line-height: 1.5;
}

p {
  font-family: $ff-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: $ff-default;
}

h1 {
  color: $clr-primary-400;
  font-size: $fs-400;
  letter-spacing: 1.5%;
}

h2,
h3,
h4 {
  font-size: $fs-300;
}

cite {
  font-style: normal;
}
