@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
:root {
  /* Colors */
  --clr-primary-300: hsl(212, 23%, 69%);
  --clr-primary-400: hsl(214, 17%, 51%);
  --clr-primary-500: hsl(217, 19%, 35%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(210, 46%, 95%);
}

:root {
  /* Font size */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-300: 0.8125rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2.625rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;
  /* Font family */
  --ff-manrope: "Manrope", sans-serif;
  /* Font weigth */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: var(--clr-neutral-400);
  color: var(--clr-primary-400);
  font-family: var(--ff-manrope);
  font-size: var(--fs-300);
  line-height: 1.5;
}

p {
  font-family: var(--ff-manrope);
  font-weight: var(--fw-medium);
  letter-spacing: 0.008125;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: var(--ff-manrope);
  color: var(--clr-primary-500);
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-400);
  letter-spacing: 0.01875rem;
}

h2,
h3,
h4 {
  font-size: var(--fs-300);
}

cite {
  font-style: normal;
}

.card {
  background-color: var(--clr-neutral-100);
  border-radius: 0.625rem;
  box-shadow: 0 1rem 2rem 0.1rem hsla(217deg, 19%, 35%, 0.15);
  display: grid;
  overflow-y: hidden;
  z-index: 0;
}
.card__image {
  height: 12.5rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  overflow: hidden;
}
.card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.375rem;
}
.card__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2.5rem 2rem 0 2rem;
}
.card__description {
  width: 31ch;
}
.card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  padding: 1rem 2rem;
  position: relative;
  width: 100%;
}
.card__profile-picture {
  aspect-ratio: 1;
  width: 2.5rem;
  border-radius: 50%;
}
.card__profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
}
.card__date {
  color: var(--clr-primary-300);
}
.card__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  aspect-ratio: 1;
  background-color: var(--clr-neutral-400);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  width: 2rem;
  transition: transform 0.1s linear;
}
.card__button:active {
  transform: scale(0.9);
}

@media screen and (min-width: 50em) {
  .card {
    grid-template-columns: 0.39fr 0.61fr;
    overflow-y: visible;
  }
  .card__image {
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.625rem;
  }
  .card__image img {
    height: 100%;
    -o-object-position: -1rem;
       object-position: -1rem;
  }
  .card__title {
    font-size: var(--fs-500);
    line-height: 1.4;
  }
  .card__description {
    width: 90%;
  }
  .card__content {
    gap: 0rem;
  }
  .card__footer {
    padding: 1.3rem 2rem 1.3rem 2rem;
  }
}
.button {
  background-color: var(--clr-neutral-400);
  z-index: 10;
}
.button[data-active=true] {
  background-color: var(--clr-primary-400);
}
.button[data-active=true] svg path {
  fill: var(--clr-neutral-100);
}
.button[data-active=true] + .popup {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s ease-out;
}
@media screen and (min-width: 50em) {
  .button[data-active=true] + .popup {
    transform: translateX(50%) translateX(0) scale(1);
  }
}

.popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--clr-primary-500);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 1rem 2rem;
  position: absolute;
  transform: translateY(100%);
  transition: all 0.2s ease-in;
  width: 100%;
  z-index: 5;
}
.popup__text {
  color: var(--clr-primary-300);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  z-index: inherit;
}
.popup__social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  list-style: none;
  padding: 0;
  z-index: inherit;
}
.popup__social-links:hover a:not(:hover) {
  opacity: 0.5;
}
.popup__social-link a {
  display: block;
  padding: 0.5rem;
  transition: transform 0.1s linear;
}
.popup__social-link > a:hover {
  transform: translateY(-10%);
}

@media screen and (min-width: 50em) {
  .popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 0.625rem;
    bottom: 5rem;
    filter: drop-shadow(0 0.1rem 0.5rem rgba(0, 0, 0, 0.25));
    height: auto;
    left: auto;
    padding: 0.5rem 2rem;
    right: 3rem;
    transform: translateX(50%) translateY(100%) scale(0);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .popup::after {
    content: "";
    background-color: var(--clr-primary-500);
    bottom: 0;
    height: 1.5rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 25%) rotate(45deg);
    width: 1.5rem;
    z-index: 0;
  }
  .popup__text {
    font-size: var(--fs-200);
  }
}
.container {
  margin-inline: auto;
  max-width: 20.4rem;
}
@media screen and (min-width: 50em) {
  .container {
    max-width: 45.625rem;
  }
}

/* Only for demonstration */
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}/*# sourceMappingURL=index.css.map */